// Place all the styles related to the Application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,700,400);
#map {
    height:280px;
    width:100%;
}
#map2 {
    height:140px;
    width:600px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
body {
	padding-top: 25px;
	font-family: sans-serif;
}

html{
	overflow: hidden;
	background-color: #edf0f5;
}

.navbar{
	margin:	0 !important;
}

.container{
	padding:0 !important;
	margin:0 !important;
}

/*HOME*/
.home-container{
	background-image: url(../images/bg-home.jpg);
	background-position: center;
	padding:0;
	height: calc(100vh - 25px);
}

.btn-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 25vh;
	margin-left: 10vw;
	height:35vh;
	line-height: 17.5vh;
	width: 80vw;

	text-align: center;
	vertical-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.btn-line1{
	height: 25vh;
}

.btn-line2{
	display: inline-flex;
	height: 15vh;
}

.round-btn{
	display: inline-block;
	width: 20vh;
	height: 20vh;
	border-radius: 50%;
	margin-top: 2.5vh;
	vertical-align:middle;
	border: 5px solid white;
	background-color: #282828;
	opacity: 0.8;

}

.btn-cmd{
	color: white;
	border: 5px solid #FDAAAD;
}

.btn-check{
	margin-left: 7vw;
	color: white;
	border: 5px solid #FCDE6C;
}

.btn-follow{
	color: white;
	border: 5px solid #CDB3D3;
}

/*ORDER*/
.order {
	padding: 40px 15px;
}

/*TRACKING*/
.composite-container{
	padding-top: 30px;
	background-image: url(../images/eiffel.jpg);
	background-position: center;
	height: 100vh;
	z-index: 1;
}

.tracking-list{
	width:calc(90vw - 100px);
	margin-left: 100px;
}

.tracking-bullet{
	position: absolute;
	left: 40px;
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	border: 3px solid #edf0f5;
}

.track-true{
	background-color: green;
	text-align: center;
	color: #edf0f5;
	line-height: 4.5vh;
/*  background: -webkit-radial-gradient(40px 40px, circle, white, green);
  background: -moz-radial-gradient(40px 40px, circle, white, green);
  background: radial-gradient(40px 40px, circle, white, green);	*/	
}

.track-{
	background-color: #EC971F;
	text-align: center;
	color: #edf0f5;
	line-height: 4.5vh;
/*	background: -webkit-radial-gradient(40px 40px, circle, white, red);
  background: -moz-radial-gradient(40px 40px, circle, white, red);
  background: radial-gradient(40px 40px, circle, white, red);	*/
}

.tracking-info{
	display: flex;
	border: 2px solid #8080ff;
	height: 10vh;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: #282828;
	opacity: 0.8;
	color:white;
}

.tracking-label{
	margin: auto;
	margin-left: 20px;
	text-overflow: ellipsis;
	padding-right: 10px;
}

.tracking-column{
	position: absolute;
	left: calc(40px + 2.5vh);
	height: 15vh;
	width: 2px;
	background-color: #4d4d4d;
}

.tracking-location{
	position: relative;
	border: 2px solid #8080ff;
	border-radius: 20px;
	margin: 20px;
	background-color: #282828;
	opacity: 0.8;
	color:white;
	height: 60px;
}

.tracking-title{
	padding-left: 40px;
	line-height: 50px;
}

.tracking-place{
	line-height: 30px;
	padding-left: 40px;
	text-align: center;
	margin-bottom: 15px;
}

.arrow-place{
	position: absolute;
	left: -20px;
	font-size: 2em;
	color:#8080ff;
	padding: 5px;
	background-color: #edf0f5;
}

.check-container{
	padding-top: 50px;
}

/*ORDER*/
.order{
	padding-left: 15px;
	padding-right: 15px;
}

/*PRICE*/
.price-container{
	padding-top: 25px;
	/*background-color: #edf0f5;*/
	background-image: url(../images/bg-home.jpg);
	background-position: center;

}

.final-price{
	position: relative;
	margin-left: 25vw;
	width: 50vw;
	height: 50vw;
	border: 4px;
	border: 5px solid #286090;
	border-radius: 50%;
	margin-top: 10vh;
	background-color: #c3daef;
	text-align: center;
	color: #286090;
	margin-bottom: 10vh;
}

.absolute-price{
	position: absolute;
	top: 9vw;
	left: 15vw;
}

.options-menu{
	margin-top: 3vh;
}

.lib-price{
	font-size: 1.3em;
}

.value-price, .currency{
	font-size: 3em;
}

.tab1{
	border: 1px solid black;
	margin: 5vw;
	background-color: transparent !important;
	border: 0;
}

.option-lib{
	padding: 10vw;
}

.option-label{
	margin-left: 10px;
}

.option-title{
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}

#submit-price{
	margin-top: 5vh;
	margin-left: 35%;
}

