<div class="order">
  <div class="row">
    <div class="col-xs-8">
      <div class="form-group">
        <input id="depart" type="text" class="form-control" placeholder="Départ...">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <input id="sendfrom" class="btn-choose btn btn-primary" type="button" value="Choisir Relais">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="form-group">
        <input id="arrivee" type="text" class="form-control" placeholder="Arrivée...">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <input id="sendto" class="btn-choose btn btn-primary" type="button" value="Choisir Relais">
      </div>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <input id="end-date" type="date" class="form-control" name="endDate">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <input id="end-time" type="time" class="form-control" name="endTime">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="form-group">
        <input id="s-size" type="number" name="quantity" min="1" max="5" value="0">
        <i class="fa fa-suitcase fa"></i>&nbsp;
        <input id="l-size" type="number" name="quantity" min="1" max="5" value="0">
        <i class="fa fa-suitcase fa-2x"></i>&nbsp;
        <input id="xl-size" type="number" name="quantity" min="1" max="5" value="0">
        <i class="fa fa-suitcase fa-3x"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <input id="btnSubmit" class="btn btn-primary btn-lg" type="submit" value="Réserver">
      <input type="hidden" name="fromrelais" id="fromrelais" value="">
  <input type="hidden" name="torelais" id="torelais" value="">
    </div>
  </div>
</div><!-- /.row -->



