<section class="usage-tracking-container">
	<div class="tracking-location">
	  <span class="tracking-title">Vos bagages sont entre de bonnes mains : </span><br>
	</div>

  <div class="tracking-list">
  	<div class="tracking-divs"></div>
  </div>
</section>
