<div class="row">

    <div class="col-xs-12 home-container">
      <div class="btn-container">
        <div class="btn-line1">
          <a href="#order">
            <div class="round-btn btn-cmd">Réserver</div>
          </a>
          <a href="#deliver">
            <div class="round-btn btn-check">Expédier</div>
          </a>
        </div>
        <div class="btn-line2">
          <a href="#tracking">
            <div class="round-btn btn-follow">Suivre</div>
          </a>
        </div>
      </div>
    </div><!-- /.col-xs-6 -->
</div><!-- /.row -->
