<div class="row">

    <div class="col-xs-12 home-container">
      <div class="btn-container">
        <div class="btn-line1">
          <div class="round-btn btn-cmd"></div>
          <div class="round-btn btn-check"></div>
        </div>
        <div class="btn-line2">
          <div class="round-btn btn-follow"></div>
        </div>
      </div>
    </div><!-- /.col-xs-6 -->
</div><!-- /.row -->
