<section class="usage-tracking-container">
	<div class="tracking-location">
		<div class="arrow-place glyphicon glyphicon-circle-arrow-right"></div>
	  <span class="tracking-title">Votre valise est passée par : </span><br>
	  <span class="tracking-place">{{place}}</span>
	</div>

  <div class="tracking-list">
  	<div class="tracking-divs"></div>
  </div>
</section>
