<div class="check-container">
	<form class="form-group">

		<div class="dropdown">
		  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    <li><a href="#">Valise Récupérée</a></li>
		    <li><a href="#">Valise confiée</a></li>
		    <li><a href="#">Valise reçue</a></li>
		  </ul>
		</div>

		<div class="form-check">
			<label for="comment">Comment:</label>
			<textarea class="form-control" rows="5" id="comment"></textarea>
		</div>
	</form>
</div>