<div class="order">
  <div class="row">
    <div class="col-xs-8">
      <div class="form-group">
        <input id="depart" type="text" class="form-control" placeholder="Départ...">
      </div>
    </div>
    <div class="col-xs-4" style="padding:0">
      <div class="form-group">
        <input id="sendfrom" class="btn-choose btn btn-primary" type="button" value="Choisir Relais">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="form-group">
        <input id="arrivee" type="text" class="form-control" placeholder="Arrivée...">
      </div>
    </div>
    <div class="col-xs-4" style="padding:0">
      <div class="form-group">
        <input id="sendto" class="btn-choose btn btn-primary" type="button" value="Choisir Relais">
      </div>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <input id="end-date" type="date" class="form-control" name="endDate">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <input id="end-time" type="time" class="form-control" name="endTime">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 text-center">
      <div class="input-group input-group-sm">
        <select id="s-size" class="form-control pull-right" style="width:55px; margin-top:10px;">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <span class="input-group-addon" style="background-color:white; border:none;">
        <i class="fa fa-suitcase fa blueiconcolor" style="margin-top:10px;"></i>
        </span>
      </div>
    </div>
    <div class="col-xs-4 text-center">
      <div class="input-group input-group-sm">
        <select id="l-size" class="form-control pull-right" style="width:55px; margin-top:10px;">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <span class="input-group-addon" style="background-color:white; border:none;">
        <i class="fa fa-suitcase fa-2x blueiconcolor" style="margin-top:8px;"></i>
        </span>
      </div>
    </div>
    <div class="col-xs-4 text-center">
      <div class="input-group input-group-sm">
        <select id="xl-size" class="form-control pull-right" style="width:55px; margin-top:10px;">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <span class="input-group-addon" style="background-color:white; border:none;">
        <i class="fa fa-suitcase fa-3x blueiconcolor"></i>
        </span>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 text-center">
       <a href="#price">

      <input id="btnSubmit" class="btn btn-primary btn-lg" type="submit" value="Réserver">
  </a>
      
      <input type="hidden" name="fromrelais" id="fromrelais" value="">
  <input type="hidden" name="torelais" id="torelais" value="">
    </div>
  </div>
</div><!-- /.row -->