<div class="price-container">
	<div class="final-price">
		<div class="absolute-price">
			<span class="lib-price">  Total : </span><br>
			<span class="value-price">45</span><span class="currency">€</span>
		</div>
	</div>
	<div class="options-menu">
		<div class="tab1 panel panel-default">
			<div class="option-title panel-heading">
				<input id="option1" class="radio-price" value="10" type="checkbox"> 
				<span class="option-label">Trousse de toilette : 10 €</span>
			</div>

			<div class="option-title panel-heading">
				<input id="option2" class="radio-price" value="10" type="checkbox"> 
				<span class="option-label">Spécialités régionales : 10 €</span>
			</div>


			<div class="option-title panel-heading">
				<input id="option3" class="radio-price" value="10" type="checkbox"> 
				<span class="option-label">Option lavage: 10 </span>
			</div>
		</div>
	</div>

  <a href="#home">
		<input id="submit-price" class="btn btn-primary btn-lg" type="submit" value="Payer">
	</a>
</div>