<div class="order">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Sommaire de la commande</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3">
			      <div class="form-group">
			        <label>Départ: </label>
			      </div>
			    </div>
			    <div class="col-xs-9">
			      <div class="form-group">
			        <span><b>WASH WASH<b> - 139 Boulevard Voltaire 75011 Paris</span>
			      </div>
			    </div>
			</div>
			<div class="row">
				<div class="col-xs-3">
			      <div class="form-group">
			        <label>Arrivée: </label>
			      </div>
			    </div>
			    <div class="col-xs-9">
			      <div class="form-group">
			        <span><b>BARBERSHOP<b> - 42 rue Riquet 31000 Toulouse</span>
			      </div>
			    </div>
			</div>
			<div class="row">
				<div class="col-xs-3">
			      <div class="form-group">
			        <label>Prévu: </label>
			      </div>
			    </div>
			    <div class="col-xs-9">
			      <div class="form-group">
			        <span>2016-03-10 à 10h00</span>
			      </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-xs-9 text-center">
			      <div class="form-group">
			        <b>2</b>&nbsp;
			        <i class="fa fa-suitcase fa"></i>&nbsp;
			        <b>1</b>&nbsp;
			        <i class="fa fa-suitcase fa-2x"></i>&nbsp;
			        <b>0</b>&nbsp;
			        <i class="fa fa-suitcase fa-3x"></i>
			      </div>
			    </div>
 	 		</div>
 	 		<div class="row">
				<div class="col-xs-3">
			      <div class="form-group">
			        <label>Coût: </label>
			      </div>
			    </div>
			    <div class="col-xs-9">
			      <div class="form-group">
			        <span>35.40 &euro;</span>
			      </div>
			    </div>
			</div>
		  </div>
		</div>
	</div>
	<div class="row">
	    <div class="col-xs-12 text-center">
	      <div class="form-group">
	        <input class="btn btn-primary btn-lg" type="submit" value="Accepter">
	      </div>
	    </div>
	</div>
</div>