<div class="tracking-item">
  {{#if step}}
  	<div class="tracking-column"></div>
  {{/if}}
	<div class="tracking-bullet track-{{status}}"></div>
	<div class="tracking-info">
    <span class="tracking-label">{{desc}}</span>
	</div>
</div>
