// Place all the styles related to the Application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,700,400);
#map {
    height:420px;
    width:600px;
}
#map2 {
    height:420px;
    width:600px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
body {
	padding-top: 25px;
	font-family: sans-serif;
}

.navbar{
	margin:	0 !important;
}

.container{
	padding:0 !important;
	margin:0 !important;
}

.starter-template {
	padding: 40px 15px;
  text-align: center;
}

.home-container{
	background-image: url(../images/bg-home.jpg);
	background-position: center;
	padding:0;
	height: calc(100vh - 25px);
}

.btn-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30vh;
	margin-left: 15vw;
	height:35vh;
	width: 60vw;
}

.btn-line1{
	height: 20vh;
}

.btn-line2{
	display: inline-flex;
	height: 15vh;
}

.round-btn{
	display: inline-block;
	width: 12.5vh;
	height: 12.5vh;
	border-radius: 50%;
	background-color: black;
	margin-top: 2.5vh;
	vertical-align:middle;	
}

.btn-check{
	margin-left: 7vw;
}
